<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Cadastro de Postagem</h1>
        <nav>
            <ul>
                <li><a href="/">Voltar a página anterior</a></li>
            </ul>
        </nav>
    </header>
    
    <section>
        <form action="/Create" method="post">
            <label for="title">titulo da Postagem: </label>
            <input type="text" name="title" id="title" required placeholder="obrigatório">
            <label for="img">link da imagem</label>
            <input type="text" name="img" id="img" placeholder="opcional">
            <label for="text">Texto descritivo da Postagem</label>
            <input type="text" name="text" id="text" placeholder="obrigatório">
            <input type="submit" value="Adicionar notícia">
        </form>
    </section>

    <footer>site desenvolvido para fins educacionais</footer>
</body>
</html>