<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de músicas</h1>
    <form action="/Create" method="post">
        <label for="title">titulo da notícia: </label>
        <input type="text" name="title" id="title">

        <label for="img">link da imagem</label>
        <input type="text" name="img" id="img">

        <label for="text">Texto descritivo da notícia</label>
        <input type="text" name="text" id="text">

        <input type="submit" value="Adicionar notícia">
    </form>
</body>
</html>